@charset "UTF-8";
/*----------------------*/
/*    メディアクエリ     */
/*----------------------*/
/*----------------------*/
/*     色のスタイル     */
/*----------------------*/
/*----------------------*/
/*    全体のスタイル     */
/*----------------------*/
body, html {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 300;
  width: 100% !important;
  height: 100% !important;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
  letter-spacing: 3px;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 20px;
  text-indent: 20px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 30px;
    letter-spacing: 10px;
    text-indent: 10px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 500;
  color: #333;
  text-align: center;
  letter-spacing: 10px;
  text-indent: 10px;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin: 30px 15px 0;
}

@media (max-width: 600px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  line-height: 60px;
}

@media (max-width: 1100px) {
  p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  p {
    font-size: 0.5rem;
    margin-bottom: 10px;
    line-height: 20px;
  }
}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

a {
  color: #333;
  font-weight: 400;
}

a:hover, a:focus {
  text-decoration: none;
  color: #222;
}

ul, ol {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

ul, ol {
  padding: 0;
}

hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #3e64ff;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 0;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Navigation */
#menu {
  padding: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
  font-size: 22px;
  color: #eee;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #51eaea;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  margin: 10px 15px 0 15px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
  color: #eee;
}

.on {
  background-color: #363636 !important;
  padding: 0 !important;
  padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #eee !important;
  background-color: transparent;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #51eaea;
  border-color: #51eaea;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #FFF;
}

.section-title {
  margin-bottom: 90px;
}

.btn-custom {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 3px #3e64ff;
  background-color: #51eaea;
  border: 0;
  padding: 14px 20px;
  margin: 0;
  font-size: 17px;
  border-radius: 12px 0 12px 0;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
  color: rgba(255, 255, 255, 0.8);
  background-color: #3e64ff;
}

/* Header Section */
.intro {
  display: table;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: url(../img/実際に使う写真/万歳.jpg) no-repeat center;
  background-color: #e5e5e5;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: relative;
}

.intro .overlay .intro-text {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.intro .overlay .intro-text h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 5px;
  text-indent: 5px;
}

@media (max-width: 600px) {
  .intro .overlay .intro-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
}

.intro .overlay .intro-text h1 strong {
  font-size: 100px;
}

@media (max-width: 600px) {
  .intro .overlay .intro-text h1 strong {
    font-size: 80px;
  }
}

.intro .overlay .intro-text span {
  color: #51eaea;
  font-weight: 600;
}

.intro .overlay .intro-text p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: 1rem;
  text-indent: 1rem;
}

@media (max-width: 1100px) {
  .intro .overlay .intro-text p {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
  }
}

@media (max-width: 600px) {
  .intro .overlay .intro-text p {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    font-size: 20px;
  }
}

/* About Section */
#about {
  padding: 120px 0;
  background: #f6f6f6;
}

#about .AboutTBHC p {
  margin-bottom: 20px;
}

#about .AboutTBHC p span {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #b2ebf2));
  background: linear-gradient(transparent 60%, #b2ebf2 60%);
}

#about .AboutTBHC p:last-child {
  margin-bottom: 50px;
}

@media (max-width: 1100px) {
  #about .AboutTBHC p {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  #about .AboutTBHC p {
    margin-bottom: 10px;
  }
}

#about .pastor .pastor-img-box img {
  display: inline-block;
  border-radius: 100px 0 100px 0;
  -webkit-box-shadow: -15px 0 #b2ebf2;
          box-shadow: -15px 0 #b2ebf2;
  width: 70%;
}

/* worship Section */
#worship {
  padding: 120px 0;
}

#worship .service {
  padding-left: 40px;
}

#worship img {
  width: 300px;
  border-radius: 75px 0 75px 0;
  -webkit-box-shadow: 15px 0 #a7c44c;
          box-shadow: 15px 0 #a7c44c;
}

#worship h3 {
  padding: 10px 0;
  text-transform: uppercase;
}

/* Portfolio Section */
#portfolio {
  padding: 120px 0;
  background: #f6f6f6;
}

.categories {
  padding-bottom: 40px;
  text-align: center;
}

ul.cat li {
  display: inline-block;
}

ol.type li {
  display: inline-block;
  margin-left: 20px;
}

ol.type li a {
  color: #a7c44c;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 20px;
  border: 2px solid #a7c44c;
  border-radius: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

ol.type li a.active {
  background: #a7c44c;
  color: #fff;
}

ol.type li a:hover {
  background: #a7c44c;
  color: #fff;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  z-index: 1;
}

.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.portfolio-item {
  margin: 15px 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
}

.portfolio-item img {
  border-radius: 0 50px 0 50px;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0 50px 0 50px;
}

.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #333;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 400;
}

.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* access Section */
#access {
  color: #fff;
  background: #a7c44c url(../img/access-bg.jpg) center top no-repeat;
  background-size: cover;
}

#access .overlay {
  padding: 120px 0;
  background: rgba(167, 196, 76, 0.9);
}

#access h2, #access p {
  color: #fff;
}

#access hr {
  background: #fff;
}

#access h3 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin: 5px 0;
}

#access .access-img {
  width: 200px;
  height: 200px;
  border-radius: 50px 0 50px 0;
  -webkit-box-shadow: 15px 0 #96b044;
          box-shadow: 15px 0 #96b044;
}

#access .thumbnail {
  background: transparent;
  border: 0;
}

#access .thumbnail .caption {
  padding-top: 10px;
}

#access .thumbnail .caption p {
  color: #fff;
}

/* Contact Section */
#contact {
  padding: 120px 0 60px 0;
  background: #F6F6F6;
}

#contact form {
  padding: 30px 0;
}

#contact h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #555;
}

#contact .text-danger {
  color: #cc0033;
  text-align: left;
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #777;
}

.form-control:-moz-placeholder {
  color: #777;
}

.form-control::-moz-placeholder {
  color: #777;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

#contact .contact-item {
  margin: 20px 0 40px 0;
}

#contact .contact-item span {
  font-weight: 400;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: inline-block;
}

#contact .contact-item p {
  font-size: 16px;
}

/* Footer Section*/
#footer {
  background: #333;
  padding: 50px 0 20px 0;
}

#footer .social {
  margin-bottom: 50px;
}

#footer .social ul li {
  display: inline-block;
  margin: 0 20px;
}

#footer .social i.fa {
  font-size: 26px;
  padding: 4px;
  color: #a7c44c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#footer .social i.fa:hover {
  color: #eee;
}

#footer p {
  font-size: 15px;
}

#footer a {
  color: #999;
}

#footer a:hover {
  color: #a7c44c;
}
/*# sourceMappingURL=main.css.map */