
/* About Section */
#about {
	padding: 120px 0;
	background: $yll;
	
	span {
		font-weight: bold;
		background: linear-gradient(transparent 60%, $ym 60%);
	}

	@include sp {
		padding: 70px 0;
	}
	
	.AboutTBHC {
		p {
			margin-bottom: 30px;
			

			&:last-child {
                margin-bottom: 60px;
            }

			@include tb {
                margin-bottom: 25px;
            }

            @include sp {
                margin-bottom: 20px;
            }
		}
	}

	.pastor {
		.pastor-img-box {
			img {
				margin-top: 30px;
				display: inline-block;
				border-radius: 75px 0;
				width: 70%;
                box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.3);

			}
		}

		h4 {
			font-weight: bold;
		}
	}
}