/* About Section */
#about {
	padding: 120px 0;
	background: #f6f6f6;
}
#about h3 {
	font-size: 20px;
	text-transform: uppercase;
}
#about .about-text {
	margin-left: 10px;
	margin-top: 20px;
}
#about img {
	display: inline-block;
	border-radius: 100px 0 100px 0;
	box-shadow: -15px 0 #a7c44c;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}