@charset "UTF-8";

/*----------------------*/ 
/*    メディアクエリ     */ 
/*----------------------*/ 


@mixin tb {
    @media (max-width: 1100px) {
    @content;
    }
}

@mixin sp {
    @media (max-width: 600px) {
    @content;
    }
}

/*----------------------*/ 
/*     色のスタイル     */ 
/*----------------------*/ 
$bll: #d4f3ef;
$bl: #abf0e9;
$bm: #51eaea;
$bd: #3e64ff;
$yll: #fffcc1;
$yl: #fcf876;
$ym: #ffba92; 
$yd: #ff8a5c;
$ydd: #f37121;

/*----------------------*/ 
/*    全体のスタイル     */ 
/*----------------------*/ 


body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #222;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
	letter-spacing: 3px;
}

.container2 {
	@include sp {
		width: 90vw;
	}
}

.overlay2 {
	background: rgba(255, 255, 255,0.7);
}

.fadein {
	opacity: 0;
	transform : translate(0, 50px);
	transition : all 1000ms;
}

.fadein.scrollin{
	opacity: 1;
	transform: translate(0, 0);
}

h2 {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 34px;
	text-align: center;
	letter-spacing: 20px;
	text-indent: 20px;
	// font-family: 'Kosugi Maru', sans-serif;
	
	@include sp {
		font-size: 30px;
		letter-spacing: 8px;
		text-indent: 8px;
	}

	&:first-letter {
		font-size: 2em;
		color: $ydd;
}
}

h3 {
	font-size: 26px;
	font-weight: 550;
	text-align: center;
	letter-spacing: 5px;
	text-indent: 5px;
	margin-bottom: 40px;

	
	@include sp {
		font-size: 22px;
	}
	
}

h4 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin: 30px 0;
	letter-spacing: 5px;
	text-indent: 5px;
	
	@include sp {
		font-size: 18px;
	}
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 60px;
	letter-spacing: 6px;
	
	@include tb {
		font-size: 16px;
		margin-bottom: 15px;
		line-height: 45px;
		letter-spacing: 4px;
    }

    @include sp {
        font-size: 14px;
		margin-bottom: 10px;
		line-height: 35px;
    }
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #333;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	// webkit-padding: 0;
	// moz-padding: 0;
}
	hr {
		height: 0px;
		width: 70px;
		text-align: center;
		position: relative;
		background: #333;
		margin: 0 auto;
		margin-bottom: 20px;
		border: 0;
	}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}







.start {
	background: $ydd;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
	display: flex;
	align-items: center;
}
.start p {
	font-weight: bold;
	margin: 0;
	position: fixed;
	display: none;
	z-index: 9999;
	width: 100%;
	color: #fff;
    text-align: center;
    font-size: 6vw;
    height: 1em;
    line-height: 1.2;
    position: absolute;
    z-index: 7;
    opacity: 0;
    animation: textAnime1 .5s linear forwards;

	span{
		display: inline-block;
		
		&:nth-child(1){
			animation: textAnime2 .6s ease-in-out .5s forwards;
		}
		
		&:nth-child(2){
			animation: textAnime2 .6s ease-in-out .6s forwards;
		}
		
		&:nth-child(3){
			animation: textAnime2 .6s ease-in-out .7s forwards;
		}
		
		&:nth-child(4){
			animation: textAnime2 .6s ease-in-out .8s forwards;
		}
	}

/*keyframe*/
@keyframes textAnime1{
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}
 
@keyframes textAnime2 {
0% {
    transform: translateY(0);
}
25%{
    transform: translateY(-30%);
}
75% {
    transform: translateY(30%);
}
100%{
    transform: translateY(0);
}
}
}