/* worship Section */
#worship {
	padding: 120px 0;
}
#worship .service {
	padding-left: 40px;
}
#worship img {
	width: 300px;
	border-radius: 75px 0 75px 0;
	box-shadow: 15px 0 #a7c44c;
}
#worship h3 {
	padding: 10px 0;
	text-transform: uppercase;
}